In [18]:
 # Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# Define sql database name
database = "electricity_db"

In [8]:
# Create path to password
from config import password

In [11]:
 # Create Engine
engine = create_engine(f"postgresql://postgres:" + password + "@localhost/" + database)
conn = engine.connect()

In [19]:
# Query All Records in the the continent table
continent_df = pd.read_sql("SELECT * FROM continent", conn)

# Query All Records in the the continent table
gdp_df = pd.read_sql("SELECT * FROM gdp", conn)

# Query All Records in the the continent table
population_df = pd.read_sql("SELECT * FROM population", conn)

# Query All Records in the the continent table
energyconsumption_df = pd.read_sql("SELECT * FROM energyconsumption", conn)

In [22]:
energyconsumption_df.head(10)

,id,country_code,country,year,month,distribution_losses_electricity,coal_peat_and_manufactured_gases,combustible_renewables,geothermal,hydro,...,nuclear,oil_and_petroleum_products,other_combustible_non-renewables,other_renewables,others,solar,wind,total_exports_electricity,total_imports_electricity,used_for_pumped_storage_electricity
0,1,ARG,Argentina,2015,04,NaN,254.9680,103.7220,0.0,1890.1710,...,356.1880,1383.5360,0.0,0.0,NaN,1.1920,44.2530,NaN,NaN,NaN
1,2,ARG,Argentina,2016,04,NaN,59.6120,23.6500,0.0,2367.2000,...,717.6860,1415.1950,0.0,NaN,NaN,0.8230,51.0640,NaN,NaN,NaN
2,3,ARG,Argentina,2017,04,NaN,276.3790,57.9470,0.0,2149.5890,...,244.1920,902.2170,0.0,NaN,NaN,1.0770,45.5990,NaN,NaN,NaN
3,4,ARG,Argentina,2018,04,NaN,189.0145,56.9715,0.0,2267.9021,...,580.6021,736.8802,0.0,0.0,0.0,1.7048,58.7371,NaN,NaN,NaN
4,5,ARG,Argentina,2019,04,NaN,0.0000,97.5631,0.0,1939.1236,...,643.5017,41.3014,0.0,0.0,0.0,49.9768,327.3478,NaN,NaN,NaN
5,6,ARG,Argentina,2020,04,NaN,0.0000,119.7903,0.0,1378.2762,...,980.5793,16.0492,0.0,0.0,0.0,79.3179,606.3770,NaN,NaN,NaN
6,7,ARG,Argentina,2021,04,NaN,260.5899,137.4805,0.0,1229.3087,...,534.0421,812.1362,0.0,0.0,0.0,144.6262,950.6949,NaN,NaN,NaN
7,8,ARG,Argentina,2022,04,NaN,255.5503,170.1682,NaN,1736.2156,...,661.3989,800.2729,NaN,NaN,NaN,227.9239,1205.4749,NaN,NaN,NaN
8,9,ARG,Argentina,2015,08,NaN,214.4140,116.1450,0.0,3343.3310,...,607.9350,1645.9410,0.0,0.0,NaN,1.1200,51.6770,NaN,NaN,NaN
9,10,ARG,Argentina,2016,08,NaN,281.9840,23.9820,0.0,2023.7660,...,504.0660,1591.3170,0.0,NaN,NaN,1.2970,44.9380,NaN,NaN,NaN